@charset "UTF-8";
/* ============================================================

★ Default ※全ページ共通スタイル series

============================================================ */

body{
	font-family: 'Meiryo','メイリオ','平成明朝''Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Lucida Grande','Verdana',sans-serif;
	font-size:0.9em;
    letter-spacing: 0.06em;
	line-height:1.4;
	text-align:center;
	background-color: #fff; /* 背景デフォルト */
	background-image: url(../images/bg-special.gif);/* 背景デフォルト */
	background-repeat: repeat;
	background-position: center 0;
}


a:hover { text-decoration:underline;}
a {
/*\*/
overflow: hidden;
/**/
}


div#wrapper {
background-image:none;
position:relative;
width:960px;
margin: 0 auto;
	-moz-box-shadow: 0px 0px 5px #222;
	-webkit-box-shadow: 0px 0px 5px #222;
	box-shadow: 0px 0px 5px #222;
}


/* header　メインビジュアル ---------------------------------------------------------------------------------- */
/* =========================================================================================================== */

header {
	width:960px;
	margin: 0 auto;
	background-image:none;
	position:relative;
}

header h1 {
	background-image:none;
}





/* コンテンツ---------------------------------------------------------------------------------------------------- */
/* ============================================================================================================ */


div#container {
	width:960px;
	position:relative;
	top:0;
	left:0;
	text-align:left;
}

div.contents{
padding:0 10px;/* 上下アキは各作品extention.cssにて調整*/
clear:both;}

div.contents article{
}

div.contents article h2{
margin:0 0 15px 0;
clear:both;
}

img.bigcatch{
display:block; margin:0 0 8px 0;
}


/* ストーリー ======================================== */
article p.txt span.small {
	text-decoration:none;
	font-size:0.8em;
}



/* キャラクター ======================================== */
article ul.chara li{
	width: 140px;
	padding-bottom: 15px;
	margin-right: 20px;
    display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
    /display: inline; /*for ie5～7*/
    /zoom: 1; /*for ie5～7*/
	vertical-align:top;
	clear:both;}

article ul.chara li.r-m_0{
	margin-right: 0;}
	
article img.charaimg{
	width:140px;
	display:block;
	margin:0 0 5px 0;
}
article h3.name{
	font-size:1em;
	line-height:1.3;
	margin:0 0 5px 0;
}
article h3.name span.kana{
	display:block;
	font-size:0.7em;
}
article p.charatxt{
	font-size:0.8em;
	line-height:1.3;
}


/* 小説======================================== */
article ul.novels li{
	width: auto;
	padding:0 0 10px 15px;
	font-weight:bold;
	line-height:1.2em;
}

article ul.novels li span.subtitle {
	font-weight:normal;
}

article ul.novels li span.day {
	display: block;
    font-size: 0.7em;
}


/* アーカイブ======================================== */
article ul.archives li{
	width: auto;
	padding:0 0 10px 15px;
	font-weight:bold;
	line-height:1.2em;
}

article ul.archives li span.subtitle {
	font-weight:normal;
}

article ul.archives li span.day {
	display: block;
    font-size: 0.7em;
}



/* 既刊紹介 ======================================== */
article ul.product{}
article ul.product li{
	width: 140px;
	padding-bottom: 15px;
	margin-right: 20px;
    display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
    /display: inline; /*for ie5～7*/
    /zoom: 1; /*for ie5～7*/
	vertical-align:top;
	clear:both;}

article ul.product li.r-m_0{
	margin-right: 0;}
	
article img.product_img{
	width:140px;
	display:block;
	margin:0 0 5px 0;
}
article h3.product_title{
	font-size:1em;
	line-height:1.3;
}

article h3.product_title span.sub_data{
	font-size:0.7em;
	line-height:1.2;
}



/* 壁紙ダウンロード======================================== */

article div.wallpaper { clear:both;}
article div.wallpaper img.wpimg{ width:220px; float:left; margin:0 20px 20px 0; display:block;}
article div.wallpaper ul.wallpaper-btn{ width:220px; float:left;}
article div.wallpaper ul.wallpaper-btn li{  width:110px; float:left; margin:0 0 10px 0;}

/* リンク======================================== */
article ul.link li{
	width: 200px;
	padding-bottom: 15px;
	margin-right: 20px;
    display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
    /display: inline; /*for ie5～7*/
    /zoom: 1; /*for ie5～7*/
	vertical-align:top;
	clear:both;}

/* 参考シリーズ ======================================== */
article#reference h3 {
	font-size:1.4em;
}

article#reference dl {
	overflow:hidden;
	width:460px;
	font-size:0.9em;
}

article#reference dl dt {
	float:left;
	width:145px;
	text-align:center;
	color:#FFFFFF;
}

article#reference dl dd {
	float:right;
	width:300px;
}

article#reference h3.title{
	font-size:1em;
	line-height:1.3;
	margin:0 0 5px 0;
	
}

/* 1カラム ======================================== */
article.box_a{
	margin:0 0 20px 0;
	clear:both;
	}


/* 2カラム ======================================== */
div.box_b{
	display:inline;
	width:460px;
	padding:0 20px 0 0;
	float:left;
	}
	
div.r-m_0{
	padding:0 0 20px 0;
	}
	
article.box_b_inner{
	padding:0 0 20px 0;
	clear:both;
	}

/* nav ---------------------------------------------------------------------------------------------------- */
/* ========================================================================================================== */

nav#nav-footer{
	width:100%;
	height:20px;
	position:relative;
	background-repeat: no-repeat;
	z-index:200;
	margin:0 auto;
	background-image: url(../images/nav_foot.gif);
	background-color:#FF009C;
	clear:both;
	background-position: center center;
}
nav#nav-footer ul#menu2{ width:940px; margin:0 auto;}
nav#nav-footer ul#menu2 li img { height:20px; width:156px;}


/* PAGE TOP */

p.top-link {
	clear:both;
	margin:0 auto;
	text-align:right;
	font-size:0.8em;
}


/* ETC ---------------------------------------------------------------------------------------------------- */
/* ======================================================================================================== */



.clearfix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}

.clearfix {
min-height: 1px;
}

* html .clearfix {
height: 1px;
/*¥*//*/
height: auto;
overflow: hidden;
/**/
}

