@charset "UTF-8";
/* ============================================================

★ Import シリーズ紹介用フォーマット

============================================================ */

@import url("reset.css");
@import url("footerlink.css");

/* nav ---------------------------------------------------------------------------------------------------- */
/* ========================================================================================================== */

nav#nav-footer{
  width:100%;
  height:20px;
  position:relative;
  background-repeat: no-repeat;
  z-index:200;
  margin:0 auto;
  background-image: url(../images/nav_foot.gif);
  background-color:#FF009C;
  clear:both;
  background-position: center center;
}
nav#nav-footer ul#menu2{ width:940px; margin:0 auto;}
nav#nav-footer ul#menu2 li img { height:20px; width:156px;}


/* PAGE TOP */

p.top-link {
  clear:both;
  margin:0 auto;
  text-align:right;
  font-size: 11.52px;
}