.konosuba_goods{
	padding: 8rem 0;
}
.konosuba_goods .h-icon{
	margin: 0 auto;
	width: 90%;
	max-width: 260px;
}
.konosuba_goods .h-text{
	width: 100%;
	margin-top: 1rem;
}
.konosuba_goods .books_box_inner{
	padding-bottom: 3rem;
}
.konosuba_goods .books-image{
	width: 38%;
}
.konosuba_goods .books-image img{
	width: 90.26%;
	margin:0;
}
.konosuba_goods .books-text--box{
	width: 62%;
}
.konosuba_goods .book-text--summary{
	margin-top: 2rem;
	line-height: 1.4;
}
.konosuba_goods .book-text--summary span{
	font-size: 1.4rem;
	color: #6e6e6e;
	font-weight: 400;
}
.book-text_kadosuto{
	margin-top: 2rem;
}
.book-btn--reserve{
	margin-top: 3rem;
	display: inline-block;
	border-radius: 4px;
	background: #3e91ca;
	padding: 3.5rem 2rem;
	box-sizing: content-box;
	text-align: center;
	width: 90%;
	position: relative
}
.book-btn--reserve::before{
	content:'';
	position: absolute;
	width: 11px;
	height: 11px;
	background: url('../../img/btn_sankaku.png');
	background-size: contain;
	background-repeat: no-repeat;
	left:2rem;
	top: 50%;
	transform: translateY(-50%);
}
.book-btn--reserve img{
	max-width: 312px;
	height:auto;
	width: 80%;
}

@media screen and (max-width: 750px){

.konosuba_goods{
	padding: 4rem 0;
}

.konosuba_goods .h-icon{
	margin: 0 auto;
	width: 90%;
	max-width: 276px;
}
.konosuba_goods .h-text{
	width: 100%;
	margin: 1rem auto 0;
	max-width: 400px;
}
.konosuba_goods .books_box_inner{
	padding-bottom: 3rem;
}
.konosuba_goods .books_box_inner p{
	text-align: left;
}
.konosuba_goods .books-image{
	width: 100%;
}
.mist_book-c{
	width: 90.26%;
	margin:2rem 0 0;
	max-width: 480px;
}
.konosuba_goods .books-text--box{
	width: 100%;
}
.konosuba_goods .book-text--summary{
	margin-top: 2rem;
}
.book-text_kadosuto{
	margin-top: 2rem;
}
.book-btn--reserve{
	margin-top: 2rem;
	padding: 2rem 1rem;
}
.book-btn--reserve::before{
	content:'';
	position: absolute;
	width: 8.5px;
	height: 10.5px;
	background: url('/konosuba/img/btn_sankaku.png');
	background-size: contain;
	background-repeat: no-repeat;
	left:2rem;
	top: 50%;
	transform: translateY(-50%);
}
.book-btn--reserve img{
	max-width: 312px;
	height:auto;
	width: 80%;
}

}
