@charset "UTF-8";
/* ============================================================

★ series css

============================================================ */
body {
  font-family: 'Meiryo','メイリオ','平成明朝','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Lucida Grande','Verdana',sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-align: center;
  background: url("../../images/bg-special.gif") repeat center 0 #fff;
}

a {
  overflow: hidden;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px #222;
}

header {
  position: relative;
  height: 1384px;
  background: url(../images/topBg.jpg) no-repeat bottom left;
}
header #global-title {
  position: absolute;
  top: 0;
  left: 0;
}
header #global-authors {
  position: absolute;
  top: 840px;
  right: 0;
}
header #mainCatch {
  position: absolute;
  top: 0;
  left: 0;
}
header #iconOnSale {
  position: absolute;
  top: 0;
  right: 0;
}
header #iconBuyBook {
  position: absolute;
  bottom: 0;
  left: 119px;
}
header #btnBuyBook {
  position: absolute;
  bottom: 20px;
  right: 348px;
}
header #btnBuyBook a:hover {
  opacity: 0.7;
}
header #btnBuyBook2 {
  position: absolute;
  bottom: 20px;
  right: 0px;
}
header #btnBuyBook2 a:hover {
  opacity: 0.7;
}

#container {
  background-color: #ffffd9;
}

.top-link {
  margin: 0 auto;
  text-align: right;
  font-size: 11.52px;
  padding: 0 20px 10px 0;
}

#audition {
  position: relative;
  background: url(../images/auditionBg.png) no-repeat top left;
  height: 730px;
}
#audition h2 {
  padding-top: 27px;
  text-align: center;
}
#audition span.audition {
  position: absolute;
  top: 176px;
  right: 0;
}
#audition span.audition a:hover {
  opacity: 0.7;
}

.contents-box .contents-header {
  margin-bottom: 15px;
}
.contents-box .contents {
  padding: 0 10px;
  font-size: 14.4px;
  line-height: 1.4;
  text-align: left;
}
.contents-box#contents-story {
  padding: 10px 0;
}
.contents-box#contents-story .contents {
  padding: 0;
}
.contents-box#contents-story .contents #charaList {
  position: relative;
  width: 960px;
  height: 530px;
  margin: 0 auto 20px;
  background: url(../images/charaBg.png) no-repeat top left;
}
.contents-box#contents-story .contents #charaList #dust {
  position: absolute;
  top: 215px;
  right: 40px;
}
.contents-box#contents-story .contents #charaList #lean {
  position: absolute;
  top: 39px;
  right: 270px;
}
.contents-box#contents-story .contents #charaList #aqua {
  position: absolute;
  top: 40px;
  left: 201px;
}
.contents-box#contents-story .contents #charaList #dakness {
  position: absolute;
  top: 174px;
  left: 30px;
}
.contents-box#contents-story .contents #charaList #megumin {
  position: absolute;
  top: 491px;
  left: 120px;
}
.contents-box#contents-story .contents #charaList #vanir {
  position: absolute;
  top: 467px;
  left: 230px;
}
.contents-box#contents-story .contents #charaList #yunyun {
  position: absolute;
  top: 491px;
  left: 447px;
}
.contents-box#contents-story .contents #charaList #loli {
  position: absolute;
  top: 491px;
  right: 236px;
}
.contents-box#contents-story .contents p {
  width: 920px;
  margin: 0 auto;
}
.contents-box#contents-storyNew {
  padding: 10px 10px 27px;
}
.contents-box#contents-storyNew .contents-header {
  margin-bottom: 0;
}
.contents-box#contents-storyNew .contents {
  margin: 0  auto;
  position: relative;
  height: 970px;
}
.contents-box#contents-storyNew .contents p#storyImg01 {
  position: absolute;
  top: 0;
  left: 10px;
}
.contents-box#contents-storyNew .contents p#storyImg02 {
  position: absolute;
  top: 0;
  right: 0;
}
.contents-box#contents-storyNew .contents p#storyImg03 {
  position: absolute;
  top: 380px;
  right: 0;
}
.contents-box#contents-storyNew .contents p#storyTxt {
  width: 490px;
  padding-top: 580px;
  text-align: left;
  font-size: 15.5px;
  line-height: 1.7;
}
.contents-box#contents-storyNew .contents p a:hover {
  opacity: 0.7;
}
.contents-box#contents-raffle .contents {
  padding: 0;
  background: url(../images/raffleBg.png) no-repeat top center;
  height: 1521px;
}
.contents-box#contents-raffle .contents p, .contents-box#contents-raffle .contents h2 {
  text-align: center;
}
.contents-box#contents-raffle .contents a:hover {
  opacity: 0.7;
}
.contents-box#contents-tokuten .contents {
  padding: 0;
}
.contents-box#contents-tokuten .contents#tora {
  position: relative;
  width: 960px;
  height: 750px;
  margin: 0 auto 60px;
  background: url(../images/tokuten01Bg.png) no-repeat bottom left;
  text-align: left;
}
.contents-box#contents-tokuten .contents#tora .contents-header {
  padding-top: 0;
  margin-left: 18px;
  margin-bottom: 0;
}
.contents-box#contents-tokuten .contents#tora .infoShop {
  position: absolute;
  top: 96px;
  left: 18px;
}
.contents-box#contents-tokuten .contents#tora .info01 {
  position: absolute;
  top: 0;
  right: 0;
}
.contents-box#contents-tokuten .contents#tora .info02 {
  position: absolute;
  top: 231px;
  left: 23px;
}
.contents-box#contents-tokuten .contents#tora .btn {
  position: absolute;
  bottom: 19px;
  left: 23px;
}
.contents-box#contents-tokuten .contents a:hover {
  opacity: 0.7;
}
.contents-box#contents-favor {
  position: relative;
  width: 926px;
  height: 161px;
  margin: 0 auto 22px;
  background: url(../images/favorBg.png) no-repeat top left;
  text-align: left;
}
.contents-box#contents-favor .contents #favorList #animate {
  position: absolute;
  top: 0;
  right: 0;
}
.contents-box#contents-favor .contents #favorList #gamers {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contents-box#contents-favor .contents #favorList #wonderGoo {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contents-box#contents-series {
  padding: 0;
}
.contents-box#contents-series .contents-header {
  color: #fff;
}
.contents-box#contents-series .contents .product {
  list-style-type: none;
  overflow: hidden;
  padding-left: 10px;
}
.contents-box#contents-series .contents .product > * {
  float: left;
  display: inline;
  width: 140px;
  margin-left: 10px;
  font-size: 14.4px;
  line-height: 1.3;
  padding-bottom: 20px;
}
.contents-box#contents-series .contents .product > * img {
  margin-bottom: 5px;
}
.contents-box#contents-series .contents .product > * .sub {
  display: block;
  font-size: 11px;
}
