.saishinkan h3{
	max-width:415px;
	margin:0 auto;
	display: inline-block;
}
.books-other a{
	display: inline-block;
	text-decoration: none;
	margin-top: 4rem;
	height: 100%;
}
.books-other a:first-child{
	margin-top: 0;
}
.comicalization{
	margin-top: 8rem;
	text-align: left;
}
.comicalization h3{
	max-width: 284px;
}

.comic-listbtn{
	display: inline-block;
	background:#000;
	max-width: 460px;
	padding:2.8rem 1rem;
	box-sizing: border-box;
	text-align: center;
	color:#fff;
	font-size:2.4rem;
	font-weight: 700;
	text-decoration: none;
	width: 100%;
	margin-top: 4rem;
	border-radius: 8px;
	position: relative;
}
.comic-listbtn:before{
	content: '';
	background:url(/konosuba/img/btn_sankaku.png);
	width:11px;
	height: 13px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top:50%;
	left:4.6%;
	transform: translateY(-50%);
	transition: 0.2s;
}
.comic-listbtn:hover::before{
	left:5.6%;
}

.comic-list{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	flex-wrap: wrap;
	align-items: flex-start;
}
.comic-block{
	width: 49%;
	border-left: 8px solid #000;
	padding: 0 2rem;
	box-sizing: border-box;
	margin-top: 4rem;
	text-align: left;
	font-size: 0;
}
.comic-block h4{
	color:#000;
	font-size:1.8rem;
	line-height:1.6;
	font-weight: 700;
	box-sizing: border-box;
}
.comic-block h4 a{
	text-decoration: none;
	border-bottom:solid #000 1px;
	color:#000;
}
.comic-block h5{
	color:#e4006e;
	font-size:2.4rem;
	line-height:1.6;
	font-weight: 700;
	margin-top: 0.8rem;
	box-sizing: border-box;
}
.comic-block h5 a{
	color:#e4006e;
	text-decoration: none;
	border-bottom:solid #e4006e 1px;
}



@media screen and (max-width: 750px){
	.saishinkan h3{
		max-width:100%;
	}
	.books-other a{
		margin-top: 2rem;
	}
	.books-other a:first-child{
		margin-top: 0;
	}
	.comicalization{
		margin-top: 4rem;
		text-align: center;
	}
	.comicalization h3{
		max-width: 524px;
		margin:0 auto;
		width:69%;
	}
	.comic-listbtn{
		padding:2rem 1rem;
		box-sizing: border-box;
		text-align: center;
		color:#fff;
		font-size:1.7rem;
		margin-top: 2rem;
	}
	.comic-listbtn:before{
		width:7.5px;
		height: 10.5px;
	}
	.comic-list{
		width: 100%;
		display: inline-block;
	}
	.comic-block{
		width: 100%;
	}
	.comic-block h4{
		color:#000;
		font-size:1.6rem;
	}
	.comic-block h5{
		font-size:1.8rem;
	}
	.comic-block h5 a{
		color:#e4006e;
	}

}
